* {
  color: rgb(11, 11, 12);
}

#header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#txtContenu {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  text-align: center;
}

.navbar-nav>li {
  margin-left: 4em;
  margin-right: 4em;
}

.slick-slide img {
  margin: auto;
}

#space {
  height: 20%;
}

#fondLogin {
  background-image: url(./images/papier.jpg);
  background-size: cover;
}

#upperText {
  text-transform: uppercase;
}